[Desktop Entry]
Type=Application
Name=GNOME Shell
Comment=Window management and application launching (shellshape variant)
Exec=0launch -co -v http://gfxmonk.net/dist/0install/shellshape.xml
Categories=GNOME;GTK;Core;
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=panel;windowmanager;
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
